
# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:SmSZn3
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^facepunch$ http://facepunch.com/showthread.php?t=1287172 [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SmSZn3:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:ZQavZw
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^msmminecraft$ http://forum.megasimman.com/index.php?threads/msm-minecraft-server.3/ [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ZQavZw:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:H6wDRm
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^minecraft$ http://forum.megasimman.com/index.php?threads/msm-minecraft-server.3/ [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE H6wDRm:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:vcof8z
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^store$ http://shop.megasimman.com/partner-xMegaSimManx/ [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE vcof8z:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:AbgQX1
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^shop$ http://shop.megasimman.com/partner-xMegaSimManx/ [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE AbgQX1:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:qi9wtF
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^partnership$ http://apply.fullscreen.net/fullscreen?ref=xmegasimmanx [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE qi9wtF:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:lKx8JK
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^partner$ http://apply.fullscreen.net/fullscreen?ref=xmegasimmanx [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE lKx8JK:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:9jA1Fy
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^forums$ http://motube.us/xMegaSimManx [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 9jA1Fy:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:qU2PUp
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^forum$ http://forum.megasimman.com/ [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE qU2PUp:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:D7cGDi
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^sms$ http://motube.us/xMegaSimManx [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE D7cGDi:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:2DfYlD
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^mms$ http://motube.us/xMegaSimManx [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 2DfYlD:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:9eoHiz
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^text$ http://motube.us/xMegaSimManx [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 9eoHiz:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:P0di3e
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^youtube$ http://www.youtube.com/xMegaSimManx [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE P0di3e:REDIRECTID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW REDIRECTID:CR1K61
RewriteEngine on
RewriteCond %{HTTP_HOST} ^megasimman.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.megasimman.com$
RewriteRule ^donate$ http://msm.eximiusgaming.com/ [R=301,L]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE CR1K61:REDIRECTID

RedirectMatch 301 ^/(.*)/robots\.txt http://megasimman.com/robots.txt
RedirectMatch 301 ^/(.*)/favicon\.ico http://megasimman.com/favicon.ico

ErrorDocument 400 /
ErrorDocument 401 /
ErrorDocument 403 /
ErrorDocument 404 /
ErrorDocument 500 /

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>

# explicitly disable caching for scripts and other dynamic files
<FilesMatch ".(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>

RewriteEngine On
# proc/self/environ? no way!
RewriteCond %{QUERY_STRING} proc/self/environ [OR]
# Block out any script trying to set a mosConfig value through the URL
RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
# Block out any script trying to base64_encode crap to send via URL
RewriteCond %{QUERY_STRING} base64_encode.*(.*) [OR]
# Block out any script that includes a <script> tag in URL
RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL
RewriteCond %{QUERY_STRING} GLOBALS(=|[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL
RewriteCond %{QUERY_STRING} _REQUEST(=|[|\%[0-9A-Z]{0,2})
# Send all blocked request to homepage with 403 Forbidden error!
RewriteRule ^(.*)$ index.php [F,L]

# secure htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
# prevent viewing of a specific file
<Files secretfile.jpg>
 order allow,deny
 deny from all
</Files>
# multiple file types
<FilesMatch ".(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

<IfModule mod_rewrite.c> 
RewriteCond %{REQUEST_URI} /+[^\.]+$ 
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]
</IfModule>

SetEnv SITE_WEBMASTER "MegaSimMan"
SetEnv SITE_WEBMASTER_URI mailto:contact@megasimman.com

UnSetEnv REMOTE_ADDR 

AddType application/x-endnote-connection enz
AddType application/x-endnote-filter enf
AddType application/x-spss-savefile sav

AddDefaultCharset UTF-8
DefaultLanguage en-US

AddType application/octet-stream .avi .mpg .mov .pdf .xls .mp4

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.megasimman.com
RewriteRule ^(.*)$ http://megasimman.com/$1 [R=301,L]

RewriteEngine on
RewriteCond %{SERVER_PORT} !^25565$
RewriteRule ^/(.*) msm.eximiusgaming.com:25565$1 [NC,R,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^shop\.megasimman\.com$ [NC]
RewriteRule ^(.*) http://shop.megasimman.com/partner-xMegaSimManx/$1 [L,R]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^sms\.megasimman\.com$ [NC]
RewriteRule ^(.*) http://motube.us/xMegaSimManx$1 [L,R]

RewriteCond %{HTTP_HOST} ^forums\.megasimman\.com  
RewriteRule ^(.*)$ /forum/$1 [R=301]

RewriteCond %{HTTP_HOST} ^forum\.megasimman\.com  
RewriteRule ^(.*)$ /forum/$1 [R=301]

RewriteCond %{HTTP_HOST} ^proxy\.megasimman\.com  
RewriteRule ^(.*)$ /proxy/$1 [R=301]

RewriteCond %{HTTP_HOST} ^speedtest\.megasimman\.com  
RewriteRule ^(.*)$ /speedtest/$1 [R=301]

RewriteCond %{HTTP_HOST} ^files\.megasimman\.com  
RewriteRule ^(.*)$ /files/$1 [R=301]

RewriteCond %{HTTP_HOST} ^original\.megasimman\.com  
RewriteRule ^(.*)$ /orignal/$1 [R=301]

RewriteCond %{HTTP_HOST} ^orignal\.megasimman\.com  
RewriteRule ^(.*)$ /orignal/$1 [R=301]

RewriteCond %{HTTP_HOST} ^img\.megasimman\.com  
RewriteRule ^(.*)$ /img/$1 [R=301]

RewriteCond %{HTTP_HOST} ^panel\.megasimman\.com  
RewriteRule ^(.*)$ /panel/$1 [R=301]

RewriteCond %{HTTP_HOST} ^cloud\.megasimman\.com  
RewriteRule ^(.*)$ /cloud/$1 [R=301]

RewriteCond %{HTTP_HOST} ^downloads\.megasimman\.com  
RewriteRule ^(.*)$ /downloads/$1 [R=301]

RewriteCond %{HTTP_HOST} ^download\.megasimman\.com  
RewriteRule ^(.*)$ /downloads/$1 [R=301]

RewriteCond %{HTTP_HOST} ^dl\.megasimman\.com  
RewriteRule ^(.*)$ /downloads/$1 [R=301]


